@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="player">
    <video class="player-video viewer" src="~/video/SampleVideo.mp4"></video>
    <div class="player-controls">
        <div class="progress">
            <div class="progress-filled"></div>
        </div>
        <input type="range" name="volume" class="player-slider" min=0 max="1" step="0.05" value="0.5" title="volume" />
        <button class="player-button toggle"><i data-toggle-icon class="fas fa-play"></i></button>
        <button data-skip="-10" class="player-button"><i class="fas fa-angle-double-left">10s</i></button>
        <button data-skip="10" class="player-button"><i class="fas fa-angle-double-right">10s</i></button>
        <button class="player-button fullscreen"><i data-fullscreen-icon class="fas fa-expand"></i></button>
    </div>
</div>